# Development profile of slaprunner.
# Exactly the same as software.cfg, but fetch the slapos.cookbook and
# slapos.toolbox from git repository instead of fetching stable version,
# allowing to play with bleeding edge environment.

[buildout]
extends = 
  ../../stack/slapos-dev.cfg
  common.cfg

parts =
# Development eggs
  slapos.toolbox-dev
  slapos.cookbook-dev
  slapos.core-dev
  erp5.util-dev
  slapos-cookbook
  ${:common-parts}

[versions]
slapos.cookbook =
slapos.core =
slapos.toolbox =
lockfile =
